<div class="container my-3">
  <div class="row">
    <div class="col-md-10 text-center mx-auto mb-5">
      <h2 class="headline">
        We can go anywhere "with Doggies"<br>
        Let's see doggie friendly places
      </h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <h5 class="title m-3"><b><i class="fas fa-dog"></i> with Doggies というサイトについて</b></h5>
      <p class="small">
        "with Doggies"をご覧いただきありがとうございます。<br>
        「犬と一緒に出かけたい」<br>
        「出かけた先で利用できる場所を知りたい」<br>
        
        このサイトは、
        「いつも大好きな犬と一緒に過ごしたい」<br>
        という気持ちを大切に、
        犬と一緒に利用できる施設を共有するコミュニティサイトです。<br>
        皆さんの知っている施設を投稿することで情報を共有し、<br>
        大好きな犬との暮らしをもっともっと楽しみましょう!<br>
        <br>
        - 否定的な投稿はご遠慮ください。おすすめしたい場所の共有をお願いします。<br>
        - 否定的なコメントはご遠慮ください。注意点を補足するコメントは大歓迎です。<br>
        - 適さない投稿、コメントは管理者側で削除することがあります。ご了承ください。<br>
      </p>
    </div>
    <div class="col-md-5 offset-1">
      <%= image_tag 'dog7.jpg', style: 'border-radius: 50%', class: 'img-fluid img-thumbnail' %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-md-5">
      <%= image_tag 'dog6.jpg', style: 'border-radius: 50%', class: 'img-fluid img-thumbnail' %>
    </div>
    <div class="col-md-6 offset-1">
      <h5 class="title m-3"><b><i class="fas fa-dog"></i> サイトの説明</b></h5>
      <p class="small">
        <i class="fas fa-paw"></i> 気になる施設をブックマーク<br>
        　ブックマーク<i class="fas fa-paw"></i>した投稿は一覧で見ることができます。
      </p>
      <p class="small">
        <i class="fas fa-star"></i> おすすめの場所<br>
        　投稿済みの施設でおすすめの場所があれば <i class="fas fa-star"></i> をクリック<br>
      </p>
      <p class="small">
        <i class="fas fa-bell"></i> 投稿にコメントがあれば通知が届きます。<br>
        　投稿施設に変更点があるかもしれません。通知はマイページから確認しましょう。<br>
      </p>
      <p class="small">
      　会員登録、ログインの際は左上のロゴ<%= image_tag 'h-logo.png', size: '25x20' %>をクリックしてトップページへ<br>
      　会員登録をする前にサイトの一部を閲覧する"ゲストログイン"も可能です
      </p>
      <%= image_tag 'dog3.jpg', style: 'border-radius: 50%', size: '200x200', class: 'img-fluid img-thumbnail' %>
    </div>
  </div>
</div>