<div class="container my-3">
  <div class="row">
    <div class="col-md-10 text-center mx-auto mb-5">
      <h2 class="border-bottom">
        <i class="fas fa-dog"></i>
        We can go anywhere "with Doggies"<br>
        Let's see doggie friendly places
        <i class="fas fa-paw"></i>
      </h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <h6 class="m-3"><b>🐾with Doggies というサイトについて🐾</b></h6>
      <p class="small">
        "with Doggies"をご覧いただきありがとうございます。<br>
        このサイトは、「出かける時も犬と一緒にいたい」という気持ちを大切にして<br>
        犬と一緒に利用できる場所を共有する場です。<br>
        見るだけでももちろん歓迎です。<br>
        もし良い場所をご存じでしたら、ぜひ共有お願いします。<br>
        犬との暮らしをもっともっと楽しみましょう!
      </p>
    </div>
    <div class="col-md-5 offset-1">
      <%= image_tag 'dog4.jpeg', class: 'img-fluid img-thumbnail' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-5">
      <%= image_tag 'dog5.jpeg', class: 'img-fluid img-thumbnail' %>
    </div>
    <div class="col-md-6 offset-1">
      <h6 class="m-3"><b>🐾守っていただきたいこと🐾</b></h6>
      <p class="small">
        より良い共有のばとしていくために、お願いごとがあります。<br>
        - 否定的な投稿はご遠慮ください。おすすめしたい場所の共有をお願いします。<br>
        - 否定的なコメントはご遠慮ください。注意点を補足するコメントは大歓迎です。<br>
        - もし適さない投稿、コメントを見かけましたら⚠️通報をお願いします。<br>
        - 通報が多いものに関しては告知なく削除させていただくことがあります。<br>
        犬との暮らしをもっともっと楽しみましょう!
      </p>
    </div>
  </div>
</div>