<div class="container my-3">
  <div class="row">
    <div class="col-md-10 text-center mx-auto mb-5">
      <h2 class="headline">
        We can go anywhere "with Doggies"<br>
        Let's see doggie friendly places!!
      </h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <h5 class="title m-3"><b><i class="fas fa-dog"></i> with Doggies というサイトについて</b></h5>
      <div class="info px-3">
        <p class="small">
          "with Doggies"は、<br>
          「いつも大好きな犬と一緒に過ごしたい」という気持ちを大切に、
          犬と一緒に利用できる施設を共有するコミュニティサイトです。
        </p>
        <p class="small">
          このサイトを通じて犬と利用できる場所の情報を共有し合うことで、
          犬との暮らしがもっともっと楽しくなりますように!
        </p>
        <p class="small">
          この管理者のページでは、<br>
          全会員の情報、投稿された施設情報を確認することができます。<br>
        </p>
      </div>
    </div>
    <div class="col-md-5 offset-md-1 offset-0">
      <%= image_tag 'dog7.jpg', style: 'border-radius: 50%', class: 'img-fluid img-thumbnail' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-5">
      <%= image_tag 'dog6.jpg', style: 'border-radius: 50%', class: 'img-fluid img-thumbnail' %>
    </div>
    <div class="col-md-6 offset-md-1 offset-0">
      <h5 class="title m-3"><b><i class="fas fa-dog"></i> 管理者が行うこと</b></h5>
      <div class="info px-3">
        <p class="small">
          ・ おすすめの施設を共有することが基本です。<br>
          他の会員にひどく不快な思いを与えると感じる投稿やコメントは削除します。
        </p>
        <p class="small">
          ・ 投稿、コメントに関しては"削除"、会員は"退会"とすることができます。
        </p>
        <p class="small">
          ・ 検索欄を活用し、投稿を検索することができます。
        </p>
        <p class="small">
        </p>
      </div>
      <%= image_tag 'dog3.jpg', style: 'border-radius: 50%', size: '200x200', class: 'img-fluid img-thumbnail' %>
    </div>
  </div>
</div>