<% if post.favorited_by?(current_member) %>
  <p>
    <%= link_to post_favorites_path(post), method: :delete, style: "color:gray" do |f| %>
      <i class="fas fa-thumbs-up"></i> <%= post.favorites.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_favorites_path(post), method: :post, style: "color:gray" do |f| %>
      <i class="far fa-thumbs-up"></i> <%= post.favorites.count %>
    <% end %>
  </p>
<% end %>