
header {
  background-color: #E38B29 !important;
}

footer {
  background-color: #E38B29  !important;
}

.top-image {
  position: relative;
}
.top-action {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
}
.top-action p:hover {
  background: rgba(255, 255, 255, 0.3)
}

.item-wrap {
  display: flex;
  flex-wrap: wrap;
}