
header {
  background-color: #F1A661 !important;
}

footer {
  background-color: #F1A661  !important;
}

.top-image {
  position: relative;
}
.top-action {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
}
.top-action p:hover {
  background: rgba(255, 255, 255, 0.3)
}

.item-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* 検索フォーム */

.search-control{
  color: #fff !important;
  background-color: #ffffff78 !important;
  border: #ffffff78 !important;
  border-radius: 2rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search-control::placeholder {
  color: #ffffffc2 !important;
  margin-left: 3rem;
}

.search-control:focus{
  box-shadow: 0 0 0 0.2rem #f8f9fa38 !important;
}

.search-control:hover{
  box-shadow: 0 0 0 0.2rem #f8f9fa38 !important;
}

.search-btn:hover{
  box-shadow: 0 0 0 0.2rem #f8f9fa38 !important;
}

.search-btn{
  color: #ffffffc2 !important;
  background-color: #ffffff78 !important;
  border-color: #ffffff00 !important;
  border-left: 2px;
  border-radius: 2rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* 検索フォームここまで */


/* 画像スワイプ表示 */
/*.swiper {*/
/*  width: 400px;*/
/*  height: 300px;*/
/*}*/

:root {
  --swiper-navigation-color: #333;
  --swiper-pagination-color: #333;
}



/* tab表示 */
.wrap {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 0 2px;
  padding: 20px;
  text-align: center;
  background: #ddd;
  /* border: 1px solid #000; */
  /* border-bottom: none; */
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #f9f9f1;
  /* border: 1px solid #000; */
  /* border-top: none; */
}

/* タブ表示ここまで */