/* フッター固定 */
html, body { height: 100%;}

header {
  background-color: #E38B29 !important
}

footer {
  background-color: #E38B29  !important
}

.bg-image {
  position: relative;
}
.info {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
}