<div class="container my-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="m-3 border-bottom"><i class="fas fa-dog"></i> 施設カテゴリー</h2>

      <div class="align-center">
        <div class="row m-3"><h5>登録済み一覧</h5></div>
        <div class="category-index">
          <%= render 'category_index', categories: @categories %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h5 class="m-3">追加登録</h5>
          <div class="category-form">
            <%= render 'category_form', category: @category %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>