<% if post.interested_by?(current_member) %>
  <div>
    <%= link_to post_interests_path(post), method: :delete, remote: true, class:"link" do |f| %>
      <i class="fas fa-paw"></i> <%= post.interests.count %>
    <% end %>
  </div>
<% else %>
  <div>
    <%= link_to post_interests_path(post), method: :post, remote: true, class:"link", style: 'opacity: 0.4;' do |f| %>
      <i class="fas fa-paw"></i> <%= post.interests.count %>
    <% end %>
  </div>
<% end %>